<template>
  <div class="favourite">
    <div id="infinite-list" class=" beer-item-container">
      <div class="beeritemfav">
        <div
          v-for="(beer, index) in allEvents"
          :key="index"
          v-on:click="allEvents.splice(index, 1)"
        >
          <div class="favdiv">
            <span class="closeitem" v-on:click="useRemoveFromProject(index)"
              >&times;</span
            >
            <div class="beer-info-img">
              <img v-bind:src="beer.image" alt="" />
            </div>
            <div class="beer-info-text">
              <h2>{{ beer.name }}</h2>
              <ul class="beer-stats">
                <li><strong>ibu: </strong> {{ beer.ibu }}</li>
                <li><strong>abv: </strong> {{ beer.abv }} %</li>
                <li><strong>ebc: </strong> {{ beer.ebc }}</li>
                <li><strong>ph: </strong> {{ beer.ph }}</li>
              </ul>
              <p><strong>Brewer tips: </strong>{{ beer.tips }}</p>
              <p><strong>Contributed by: </strong>{{ beer.contributed }}</p>
              <p>{{ beer.desc }}</p>
              <div>{{ beer.tagline }}</div>
              <p class="likefoodhead">You may also like:</p>
              <ul class="likefood">
                <li v-for="(food, index) in beer.food" :key="index">
                  {{ food }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  data: function() {
    return {};
  },
  computed: {
    ...mapGetters(["getBeer"]),
    allEvents: function() {
      return Object.values(this.getBeer).reduce((a, b) => a.concat(b), []);
    }
  },
  methods: {
    useRemoveFromProject: function(index) {
      this.getBeer.splice(index, 1);
    }
  }
};
</script>
<style lang="scss">
.favdiv {
  position: relative;
  display: flex;
  -webkit-box-shadow: -2px -5px 32px 7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px -5px 32px 7px rgba(0, 0, 0, 0.75);
  box-shadow: -2px -5px 32px 7px rgba(0, 0, 0, 0.75);
  display: flex;
  margin: 0 10px 10px 0;
  flex: 1 0 25%;
  padding: 25px;
  position: relative;
  width: 70%;
  .closeitem {
    position: absolute;
    right: 10px;
    font-size: 2.5em;
    top: 0;
    font-weight: 700;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    &:hover {
      color: hsla(356, 100%, 41%, 1);
    }
  }
}
</style>
