<template>
  <div class="home">
    <BeerConatinerComponent />
  </div>
</template>
<script>
// @ is an alias to /src
import BeerConatinerComponent from "@/components/BeerConatinerComponent.vue";
export default {
  name: "home",
  components: {
    BeerConatinerComponent
  }
};
</script>
