<template>
  <div class="beerContainer">
    <div class="searchBoxContainer">
      <div class="searchBox">
        <input type="text" v-model="search" placeholder="Search your beer" />
      </div>
      <span class="noResContainer" v-if="!filteredList.length"
        >No results found please search again</span
      >
    </div>
    <div id="infinite-list" class=" beer-item-container">
      <div class="beeritem" v-for="(beer, index) in filteredList" :key="index">
        <div class="beercontainer">
          <span
            class="addtoFavItem"
            @click="
              addToFavorites(
                (name = beer.name),
                (desc = beer.description),
                (tagline = beer.tagline),
                (ibu = beer.ibu),
                (ebv = beer.abv),
                (ebc = beer.ebc),
                (ph = beer.ph),
                (tips = beer.brewers_tips),
                (contributed = beer.contributed_by),
                (image = beer.image_url),
                (food = beer.food_pairing)
              )
            "
          >
            Add to favourite</span
          >
          <div class="beer-info-img">
            <img v-bind:src="beer.image_url" alt="" />
          </div>
          <div class="beer-info-text button">
            <h2>
              <strong>{{ beer.name }}</strong>
            </h2>
            <ul class="beer-stats">
              <li><strong>ibu: </strong> {{ beer.ibu }}</li>
              <li><strong>abv: </strong> {{ beer.abv }} %</li>
              <li><strong>ebc: </strong> {{ beer.ebc }}</li>
              <li><strong>ph: </strong> {{ beer.ph }}</li>
            </ul>
            <p><strong>Tagline: </strong>{{ beer.tagline }}</p>
            <p><strong>Description: </strong>{{ beer.description }}</p>
            <p>{{ beer.yeast }}</p>
            <p><strong>Brewer tips: </strong>{{ beer.brewers_tips }}</p>
            <p><strong>Contributed by: </strong>{{ beer.contributed_by }}</p>
            <p class="likefoodhead">You may also like:</p>
            <ul class="likefood">
              <li v-for="(food, index) in beer.food_pairing" :key="index">
                {{ food }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";
export default {
  props: [
    "beer.name",
    "beer.description",
    "beer.tagline",
    "beer.ibu ",
    "beer.abv",
    "beer.ebc",
    "beer.ph",
    "beer.brewers_tips",
    "beer.contributed_by",
    "beer.image_url",
    "beer.food_pairing"
  ],
  data:()=> {
    return {
      search: "",
      errors: []
    };
  },
  mounted() {
    this.$store.dispatch("loadBeers");
  },
  computed: {
    filteredList() {
      return this.beers.filter(beers => {
        return beers.name.toLowerCase().includes(this.search.toLowerCase());
      });
    },
    ...mapState(["beers"])
  },
  methods: {
    addToFavorites: function() {
      this.$store.commit("ADD_BEER", [
        {
          name: this.name,
          desc: this.desc,
          tagline: this.tagline,
          ibu: this.ibu,
          ebv: this.abv,
          ebc: this.ebc,
          ph: this.ph,
          tips: this.tips,
          contributed: this.contributed,
          image: this.image,
          food: this.food
        }
      ]);
    }
  }
};
</script>
<style lang="scss">
.addtoFavItem {
    position: absolute;
    right: 15px;
    font-weight: 700;
    top: 10px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    &:hover {
      color: hsla(356, 100%, 41%, 1);
      font-weight: 700;
    }
}
.addtoFav {
  background: #000;
  opacity: 0.1;
  width: 100%;
  height: 100%;
  cursor: not-allowed !important;
  .addtoFavItem {
    color: red;
  }
}
.overlay {
  background: #000;
  opacity: 0.9;
  width: 100%;
  height: 100%;
}
.noResContainer {
  font-size: 2em;
}
.searchBox {
  margin: 30px 0 31px 0;
  input {
    height: 40px;
    width: 50%;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1em;
    font-style: italic;
  }
}
.beerContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.beercontainer {
  display: flex;
}
.beer-item {
  flex: 1 0 30%;
  margin: 0 15px 25px 15px;
}
.beer-item-container {
  display: flex;
  margin: 0px auto;
  flex-wrap: wrap;
  position: relative;
  .beeritem {
    -webkit-box-shadow: -2px -5px 32px 7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px -5px 32px 7px rgba(0, 0, 0, 0.75);
    box-shadow: -2px -5px 32px 7px rgba(0, 0, 0, 0.75);
    display: flex;
    margin: 0 10px 10px 0;
    flex: 1 0 25%;
    padding: 40px;
    position: relative;
    cursor: pointer;
  }
}
.fa-heart {
  position: absolute;
  right: 10px;
  top: 10px;
  color: grey;
  font-size: 1.2em;
  cursor: pointer;
}
.beer-stats {
  display: flex;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  margin: 10px auto 0;
  justify-content: center;
  li {
    margin: 0 5px 0 0;
  }
}
.likefoodhead {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  margin: 10px 0 11px 0;
}
.likefood {
  display: flex;
  list-style: none;
  li {
    margin: 0 0px 0 0;
  }
}
.beer-info-text {
  margin: 0 0 0 0px;
  text-align: left;
  h2 {
    padding: 0;
    margin: 0 0 10px 0;
    font-family: "Montserrat", sans-serif;
  }
  p {
    padding: 0;
    margin: 5px 0 4px 0;
    font-size: 0.9em;
    line-height: 25px;
    width: 100% ;  
    font-family: "Montserrat", sans-serif;
  }
  ul {
    padding: 0;
    justify-content: flex-start;
    margin: 0;
    line-height: 20px;
    font-family: "Montserrat", sans-serif;
  }
}
.likefood {
  display: flex;
  list-style: square inside;
  flex-direction: column;
}
.beer-info-img {
  img {
    width: 5vw;
    object-fit: scale-down;
    margin: 0 5px 0 0;
    height: 30vh;
  }
}
.tabs {
  display: flex;
  width: 500px;
  justify-content: space-between;
  margin: 0 auto;
  &__item {
    justify-content: space-between;
  }
}
</style>
