<template>
  <div id="app">
    <Preloader/>
    <h2>The Beer App</h2>
    <div id="nav">
      <router-link to="/home">Beer List</router-link> |
      <router-link to="/favourite">Beer Favourite</router-link>
    </div>
    <router-view />
  </div>
</template>
<script>
import Preloader from "@/components/ui/Preloader.vue";
export default {
   components: {
    Preloader
  }
}
</script>
<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}
h2 {
  padding:0;
  margin:30px 0 0 0;
  font-size: 2em;
}
.appheading {
  padding: 0;
  margin: 0;
  font-size: 2em;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
