<template>
  <div class="preloadercontainer">
    <div id="overlayer"></div>
    <span class="loader">
      <span class="loader-inner"></span>
    </span>
  </div>
</template>
<style lang="scss">
#overlayer {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: #4a4a4a;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 3;
  border: 4px solid #fff;
  top: 50%;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
.hide {
  display: none;
  visibility: hidden;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
    visibility: visible;
  }
}
</style>
<script>
setTimeout(function() {
  let loaderContainer = document.querySelector(".loader");
  let overlayContainer = document.getElementById("#overlayer");
  let preloadercontainer = document.querySelector(".preloadercontainer");
  preloadercontainer.classList.add("hide");
  loaderContainer.classList.add("hide");
  overlayContainer.classList.add("hide");
}, 3000);
</script>
